#board
{
	padding:10px;
    border-style: groove;
	background-color: #bbbbbb;
	color:#000000;
}

.placeholder {
    opacity: 0.3;
}
.selectable-domino img:hover {
    box-shadow: 4px 4px 3px red;
}
.domino img {
    vertical-align: middle;
    margin: 3px;
    box-shadow: 4px 4px 3px grey;
}
.selected {
    border-style: dashed;
    border-width: 2px;
    border-color: blue;
}